{:paths ["utils"]
 :aliases {
           :new {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}
                        org.babashka/cli {:mvn/version "0.8.62"}
                        io.github.seancorfield/deps-new {:git/tag "v0.8.0"
                                                         :git/sha "2f96530"}}
                 :ns-default org.corfield.new
                 :exec-args {} ;; insert default arguments here
                 :main-opts ["-m" "babashka.cli.exec"]}
           }}
