.calva/output-window/
.classpath
.clj-kondo/.cache
.clojuredart
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
.dart_tool
/lib/cljd-out
/test/cljd-out
/checkouts
/classes
/target
/ios
/android
/windows
/web
/linux
/macos
