{:description "Generates a simple clojuredart CLI app"
 ;; this does not transform the data but does print a message:
 :data-fn clojuredart.cli/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn clojuredart.cli/template-fn
 ;; this does not post-process the project but does print a message:
 :post-process-fn clojuredart.cli/post-process-fn
 :transform
 [["build" ""
   {"build.tmpl" "build.clj"
    "deps.tmpl"  "deps.edn"}
   :only]
  ["root" ""
   {"README.md"  "README_{{main}}.md"}
  :only]
  ["src" "src/{{top/file}}"
   {"main.tmpl" "{{main/file}}.cljd"}]
  ["test" "test/{{top/file}}"
   {"main_test.tmpl" "{{main/file}}_test.clj"}]]}
